{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- LOCAL CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> {% block additional_head %}{% endblock %}
</head>

<body style="padding-top:65px;">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">F</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav pull-right">
                    {% if request.user.is_authenticated %}
                    <li><a href="/user/logout/" class="nav-item">Logout</a></li>
                    {% else %}
                    <li><a href="/user/register/">Register</a></li>
                    <li><a href="/user/login/">Login</a></li>
                    {% endif %}
                </ul>
                {% if request.user.is_authenticated %}
                    <p class="navbar-text pull-right">
                        Hi, <a href="{% url 'user:user_profile' user_id=request.user.id %}">{{ request.user }}</a>
                    </p>

                    <div class="dropdown navbar-text">
                        <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Messenger</button>
                        <ul class="dropdown-menu">                        
                            <li class="dropdown-submenu nav-item dropdown">
                                <a class="test" tabindex="-1" href="#">Personnal Chats</a>
                                <ul class="dropdown-menu">
                                    {% for personnal_chat in personnal_chats %}
                                        <li><a tabindex="-1" href="{% url 'chat:room' personnal_chat.receiver_id %}">{{ personnal_chat.chat }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">Group Chats</a>
                                <ul class="dropdown-menu">
                                    {% for group_chat in group_chats %}
                                        <li><a tabindex="-1" href="{% url 'chat:group_room' group_chat.id %}">{{ group_chat }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li><a tabindex="-1" id="create-group-chat" href="{% url 'chat:create_group_chat' request.user.id %}">Create new group chat</a></li>
                        </ul>
                        <script>
                            console.log("{{ personnal_chats }}")
                            $(document).ready(function(){
                              $('.dropdown-submenu a.test').on("click", function(e){
                                $(this).next('ul').toggle();
                                e.stopPropagation();
                                e.preventDefault();
                              });
                            });
                        </script>
                    </div>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="container col-lg-12">
    {% block post_view %}
        <div class="container col-lg-3">
            {% block page_shortcuts %} {% endblock %}
        </div> 
        <div class="container col-lg-6" style="margin-bottom:10px;">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}"
                role="alert">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            <!-- MAIN PAGE CONTENT -->
            {% block main_content %}{% endblock %}
        </div>
        <div class="container col-lg-3">
            {% block contact %} {% endblock %}
            {% block chat_option %} {% endblock %}
        </div>
    {% endblock %}
    </div>

    <!-- PAGE LEVEL JAVASCRIPT -->
    {% block page_javascript %} {% endblock %}

</body>

</html>