{% extends "base.html" %}

{% block main_content %}
<div class="row">
    <div class="col-lg-12">
        {% if user.is_authenticated %}
        <h3>Create new post!</h3>
        {% if form %}
        <form method="POST" enctype='Multipart/form-data'>
            {% csrf_token %}
            {{ form }}
            <div class="btn-comfirm">
                <button type="submit"><i>Post</i></button>
            </div>
        </form>
        {% endif %}
        <hr>

        <h3>Newsfeed</h3>
        {% if posts %}
            {% for post in posts %}
                {% include 'post/post_view.html' with view=view post_id=post.post.id me=user post=post.post liked=post.liked reactions=post.reactions comments=post.comments %}
            {% endfor %}
        {% endif %}

        {% endif %}
    </div>
</div>
{% endblock %}
