{% extends 'base.html' %}


{% block main_content %}
<div class="container col-md-12" style="margin-bottom: 20px;">
    <!--Post header-->
    <div class="container post-header">
        <div class="author-option container row col-md-12">
            <!---Post author-->
            <span class="author col-md-1 pull-left row row-no-gutters">
                <h5><a href="{% url 'user:user_profile' post.author.id %}">{{ post.author }}</a></h5>
            </span>

            <!--Post options-->
            <!--<div class="post-option col-md-1 pull-center dropdown" id="post-option">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownPostOption" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Option
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownPostOption" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                    {% if me == post.author %}
                        <a class="dropdown-item" href="#">Edit</a>
                        <a class="dropdown-item" href="{% url 'post:delete' post_id %}">Delete</a>
                    {% endif %}
                    <a class="dropdown-item" href="{% url 'post:post_view' post_id %}">View full post</a>
                </div>
            </div>-->
            <div>
                {% if me == post.author %}
                    <a href="{% url 'post:edit' post_id %}">Edit</a>
                    <a href="{% url 'post:delete' post_id %}" onclick="return confirm('are you sure?');">Delete</a>
                {% endif %}
                <a href="{% url 'post:post_view' post_id %}">View full post</a>
            </div>
        </div>

        <!--Post create time-->
        <div class="post-created-at pull-left">{{ post.created }}</div>
    </div>

    <div class="container">
        <!--Post text content-->
        <div class="container-fluid post-text">{% if post.text %}<h5><strong>{{ post.text }}</strong></h5>{% endif %}</div>
        <div class="container post-image">
            {% if post.images %}
                {% for image in post.images.all %}
                    {% if image.image %}
                        <img src="{{ image.image.url }}" width="200" height="200">
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>

        <div class="container-fluid post-reactions container" style="margin-bottom: 20px;">
            <!--Post reactions-->

            <!--Clickable to see who liked-->
            <span id="show-liked-box-{{ post.id }}" class="like-count col-md-1">
                <!--Like count-->
                <b class="post-like-count" id="like-count-{{ post.id }}">{{ reactions|length }}</b> liked
            </span>
            <span class="like-btn col-md-2" id="like-btn">
                <!--Check if current user liked or not-->
                <p class="liked-or-not" hidden></p>
                {% if liked %}
                <!--<script>
                        var liked_or_not = document.getElementsByClassName("liked-or-not")[0];
                        liked_or_not.textContent = "liked";
                    </script>-->
                <!--If yes, button to unlike-->
                <form action="{% url 'post:unlike' post.id %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" id="unlike-{{ post.id }}" class="btnunlike" value="Unlike">
                </form>
                <!--<a class="unlikebtn" id="unlike-{{ post.id }}" href="#"">Unlike</a>-->
                {% else %}
                <!--<script>
                        var liked_or_not = document.getElementsByClassName("liked-or-not")[0];
                        liked_or_not.textContent = "unliked";
                    </script>-->
                <!--Otherwise button to like-->
                <form action="{% url 'post:like' post.id %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" class="btnlike" value="Like">
                </form>
                <!--<a class="likebtn" id="like-{{ post.id }}" href="#"">Like</a>-->
                {% endif %}
            </span>
            <span id="show-comments-btn-{{ post.id }}" class="col-md-9 pull-center show-comments-btn">Comments</span>

            <!--Popup box displays who liked-->
            <div id="liked-box-{{ post.id }}" class="box container-fluid">
                <div class="box-content">
                    <div class="box-header row">
                        <span class="col-md-11"><strong>People liked this post:</strong></span>
                        <span class="close col-md-1 pull-right">&times;</span>
                    </div>
                    {% for reaction in reactions %}
                    <div class="box-main row mt-50" id="postliker-{{ post.id }}">
                        <span class="col-md-8"><a href="{% url 'user:user_profile' reaction.liker.id %}">{{
                                reaction.liker }}</a></span>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <script>
                var modal = document.getElementById("liked-box-0".replace("0", "{{ post.id }}"));
                var btn = document.getElementById("show-liked-box-0".replace("0", "{{ post.id }}"));
                var span = document.getElementsByClassName("close")[0];

                btn.onclick = function () {
                    modal.style.display = "block";
                }
                span.onclick = function () {
                    modal.style.display = "none";
                }
                window.onclick = function (event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                }
            </script>
        </div>


        <!--Post comments-->
        <div id="comments-box-{{ post.id }}" class="container-fluid comments-box">
            <div id="blank" class="container">
                <textarea id="comment-input-{{ post.id }}" cols="10" rows="1" class="col-md-6" style="margin-top: 10px;"
                    required></textarea>
                <input id="comment-submit-{{ post.id }}" type="button" value="Send" class="col-md-1 pull-left"
                    style="margin-top: 10px;">
            </div>
            
            {% if comments %}
            {% for comment in comments %}
            <div class="a-comment row" style="margin-bottom: 10px;">
                <span class="comment-author col-md-1">
                    <a href="{% url 'user:user_profile' comment.commentor.id %}">{{ comment.commentor }}</a>
                </span>
                <span class="comment-content col-md-11 pull-center">{{ comment.content }}</span>
            </div>
            {% endfor %}
            {% endif %}

            <script id="post-id-{{ post_id }}">"{{ post_id }}"</script>
            {{ view|json_script:"view" }}
        </div>
        <script>
            function connect() {
                /* Post Comment JS Section */
                var view = JSON.parse(document.getElementById('view').textContent);
                if (view === "home") {
                    let x = document.getElementsByClassName("like-btn");
                    for (let i = 0; i < x.length; i++) {
                        x[i].style.display = "none";
                    }
                    document.getElementById("show-comments-btn-0".replace("0", "{{ post_id }}")).style.display = "none";
                    document.getElementById("show-comments-btn-0".replace("0", "{{ post_id }}")).style.display = "none";
                    document.getElementById("comments-box-0".replace("0", "{{ post_id }}")).style.display = "none"
                    return;
                }

                var postId = JSON.parse(document.getElementById('post-id-0'.replace("0", "{{ post.id }}")).textContent);
                console.log(postId);

                var show_comments_btn = document.getElementById("show-comments-btn-0".replace("0", postId));
                var comments_box = document.getElementById("comments-box-0".replace("0", postId));
                show_comments_btn.onclick = function () {
                    if (comments_box.style.display === "none") {
                        comments_box.style.display = "block";
                    } else {
                        comments_box.style.display = "none";
                    }
                }

                const postSocket = new WebSocket(
                    'ws://'
                    + window.location.host
                    + '/ws/post/'
                    + postId
                    + '/'
                );

                postSocket.onmessage = function (e) {
                    const data = JSON.parse(e.data);
                    console.log(data);

                    //if (data.target === "comment") {
                    comment_author = document.createElement("span");
                    comment_author.className = "comment-author col-lg-1";
                    comment_author_a = document.createElement("a");
                    comment_author_a.href = "/user/" + data.commentor_id;
                    comment_author_a.textContent = data.commentor_name;
                    comment_author.appendChild(comment_author_a);
                    comment_content = document.createElement("span");
                    comment_content.className = "comment-content col-lg-11 pull-left";
                    comment_content.textContent = data.comment;
                    a_comment = document.createElement("div");
                    a_comment.className = "a-comment";
                    a_comment.appendChild(comment_author);
                    a_comment.appendChild(comment_content);

                    comments_box.insertBefore(a_comment, document.getElementById("blank"));
                    /*} else if (data.target === "reaction" && data.reaction === "liked") {
                        liker = document.createElement("a");
                        liker.href = "/user/" + data.liker_id;
                        liker.textContent = data.liker_name;
                        liker_ctn = document.getElementById("postliker-0".replace("0", postId));
                        liker_ctn.appendChild(liker);

                        like_count = document.getElementById("like-count-0".replace("0", postId));
                        like_count.textContent = data.reaction_count;
                    } else {
                        liker = document.querySelectorAll("a[href='/user/0/']".replace("0", data.unliker_id));
                        liker.forEach(element => {
                            e => e.parentNode.removeChild(e);
                        });

                        like_count = document.getElementById("like-count-0".replace("0", postId));
                        like_count.textContent = data.reaction_count;
                    }*/
                };
                postSocket.onclose = function (e) {
                    console.error('Comment socket closed unexpectedly');

                    //postSocket = null;
                    /*setTimeout(function () {
                        connect();
                    }, 2000);*/
                };

                document.querySelector('#comment-input-0'.replace("0", postId)).focus();
                document.querySelector('#comment-input-0'.replace("0", postId)).onkeyup = function (e) {
                    if (e.keyCode === 13) {  // enter, return
                        document.querySelector('#comment-submit-0'.replace("0", postId)).click();
                    }
                };

                document.querySelector('#comment-submit-0'.replace("0", postId)).onclick = function (e) {
                    const commentInputDom = document.querySelector('#comment-input-0'.replace("0", postId));
                    const comment = commentInputDom.value;
                    postSocket.send(JSON.stringify({
                        'comment': comment
                    }));
                    commentInputDom.value = '';
                };

                /* Post Reaction JS Section */
                /*var likeCount = document.getElementById("like-count-0".replace("0", postId));
                var liked = (document.getElementsByClassName("liked-or-not")[0].textContent === "liked");
                console.log(liked);
                var me_liked = document.querySelectorAll("a[href='/user/0/']".replace("0", "{{ me.id }}"));
                        
                if (liked) {
                    var unlikebtn = document.querySelector("#unlike-0".replace("0", postId));
                    unlikebtn.onclick = function(e) {
                        postSocket.send(JSON.stringify({
                            'reaction': "unliked"
                        }));
                        unlikebtn.textContent = "Like";
                        unlikebtn.id = "like-0".replace("0", postId);
                        unlikebtn.className = "likebtn";
                        document.getElementsByClassName("liked-or-not")[0].textContent = "unliked";

                        //postSocket = null;
                        setTimeout(function () {
                            connect();
                        }, 1000);
                    }
                } else {
                    var likebtn = document.querySelector("#like-0".replace("0", postId))
                    likebtn.onclick = function(e) {
                        postSocket.send(JSON.stringify({
                            'reaction': "liked"
                        }));
                        likebtn.textContent = "Unlike";
                        likebtn.id = "unlike-0".replace("0", postId);
                        likebtn.className = "unlikebtn";
                        document.getElementsByClassName("liked-or-not")[0].textContent = "liked";
                        
                        //postSocket = null;
                        setTimeout(function () {
                            connect();
                        }, 1000);
                    }
                };*/
            }
            connect();
        </script>
    </div>
</div>
{% endblock %}
